body {
    font-family: 'Inter', sans-serif;
}

.login-screen {
    background-image: url('https://images.unsplash.com/photo-1505868900972-a7ed025e680b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

        .blorpz-title {
        //  color: white;
         font-size: 70px;
         text-align: center;
         color: black;
        -webkit-text-fill-color: white; 
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
        }

        .landing{
            text-align: center;
        }

        .top-img{
            display: flex;
            justify-content: space-around;
            
        }

    .login-container {
        display: flex;
        opacity: .8;
        flex-direction: column;
        align-items: center;
        float: right;
        justify-content: center;
        clear: left;
        position: absolute;
        top: 16px;
        right: 16px;

        input {
            background-color: white;
            border: 1px solid rgba($color: #000000, $alpha: 0.1);
            box-shadow: 0px 1px 2px rgb(230, 230, 230);;
            border-radius: 4px;
            font-size: 20px;
            width: 350px;
            padding: 10px;
            margin-bottom: 8px;
        }
    
        input:focus {
            outline: none;
        }

        .login-button {    
            background-color: #7D7878;
            border-radius: 100px;
            padding: 10px 16px;
            font-size: 15px;
            color: white;
            text-transform: uppercase;
            border: none;
            letter-spacing: 1px;
            margin-right: 28px;
            transition: .15s ease;
            cursor: pointer;
            border: 1px solid rgba($color: #000000, $alpha: 0.8);
            }

        .login-button:hover {
            background-color: #968B8B;
        }

        .register-button {    
            background-color: rgba($color: #A48383, $alpha: 0.9);
            border: 1px solid rgba($color: #000000, $alpha: 0.8);
            border-radius: 100px;
            padding: 10px 16px;
            font-size: 15px;
            color: white;
            text-transform: uppercase;
            letter-spacing: 1px;
            margin-right: 8px;
            transition: .15s ease;
            cursor: pointer;
            }

        .register-button:hover {
            background-color: rgba($color: #B99292, $alpha: 0.7);
        }
        
    }
}